html,
body {
    height: 100%;
}

#content {
    flex: 1;
}

#content > .row {
    height: 100%;
}

@media (max-width: 768px) {
    .sidebar {
        white-space: nowrap;
    }
}

@media (min-width: 768px) {
    .sidebar {
        height: calc(100vh - 95px);

        /* overflow-x: hidden; */
        /* overflow-y: scroll; */
    }
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(236, 240, 241);
}

.grid-stack-item-content {
    color: #2c3e50;
    text-align: center;
    background-color: #18bc9c;
}

.sidebar .grid-stack-item {
    width: 50px;
    height: 120px;
    /* border: 2px dashed green; */
    text-align: center;
    line-height: 100px;
    z-index: 10;
    background: rgba(0, 255, 0, 0.1);
    cursor: default;
    display: inline-block;
}

.grid-stack-item {
    z-index: 1000;
}

.sidebar .grid-stack-item .grid-stack-item-content {
    height: 100%;
    border: 1px solid white;
}

.sidebar .grid-stack-item .grid-stack-item-content > p {
    line-height: normal;
}

.sidebar .grid-stack-item .grid-stack-item-content .removeItemGrid {
    display: none;
}

.grid-stack .grid-stack-item .grid-stack-item-content .deleteItemSidebar {
    display: none;
}

#grid1 {
    background: rgba(87, 34, 177, 0.3);
}

.grid-stack {
    flex: 1;
}

.grid-stack > .grid-stack-item > .grid-stack-item-content {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

.sidebar-scroll {
    overflow-x: auto;
}
