.grid-stack-item-content {
    color: #2c3e50;
    text-align: center;
    background-color: #18bc9c;
}

.sidebar {
    padding: 25px 0;
    text-align: center;
}

.sidebar .grid-stack-item {
    width: 200px;
    height: 120px;
    /* border: 2px dashed green; */
    text-align: center;
    line-height: 100px;
    z-index: 10;
    background: rgba(0, 255, 0, 0.1);
    cursor: default;
    display: inline-block;
    margin-bottom: 5px;
}

.sidebar .grid-stack-item .grid-stack-item-content {
    height: 100%;
    border: 1px solid white;
}

.sidebar .grid-stack-item .grid-stack-item-content > p {
    line-height: normal;
}

.grid-stack .grid-stack-item .grid-stack-item-content .deleteItemSidebar {
    display: none;
}

.sidebar .grid-stack-item .grid-stack-item-content .removeItemGrid {
    display: none;
}

.grid-stack {
    background-color: #eeeeee;
    background-image: linear-gradient(#e0e0e0 1px, transparent 1px),
        linear-gradient(90deg, #e0e0e0 1px, transparent 0px),
        linear-gradient(rgba(255, 255, 255, 0.3) 5px, transparent 100px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.3) 5px, transparent 100px) !important;
    background-size: 100px 62px, calc(8.33% + 0px) 100px, 20px 20px, 20px 20px !important;
    background-position: -2px -2px, -1px -2px, -1px -1px, -1px -1px !important;
    min-height: 450px;
}

.grid-stack > .grid-stack-item > .grid-stack-item-content {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}
