body {
    background: url("living-room.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* @media (min-width: 768px) {
    .navbar-brand.abs {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
    }
} */

/* *,
*::before,
*::after {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
} */

.items {
    position: relative;
    width: 50px;
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.thumbnail {
    height: 5rem;
}

.thumbnail img {
    max-height: 100%;
    max-width: 100%;
    /* border: 1px solid red; */
}

.close {
    position: absolute;
    line-height: 0.5;
    right: 0;
    z-index: 9999;
}

.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
    display: block !important;
    text-align: center !important;
    overflow: hidden;
}

.gu-hide {
    display: none !important;
}

.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
    line-height: 1.2em;
    min-height: 5em;
}
